
body {
background-image: url('/imagen/su.jpg');
margin: 100px;
}


p {
background-color: white;
font-size: 20px;
}


.CONTENEDOR {
  margin: 0px auto;
  width: 960px;
 background-image: url('/imagen/su.jpg');
  
  
  }
  

.CABECERA {
  height: 250px;
  margin: 0px;
  background-color: purple ;
  background-image: url('/imagen/fruta.jpg');
  
  }


.MENU {
  margin: 0px;
  height: 500px;
  background-color: white;
  
  }
  
.CONTENIDO {
  margin: 0px;
  height: 400px;
  background-color: white;
  
  }
  
  
  
.PIEDEPAGINA {
  margin: 0px;
  height: 150px;
  background-image: url('/imagen/flor.jpg');
  
  }



