

.CONTENEDOR {
 background-color: blue;
 
  
  
  }
  

.CABECERA {
background-color: purple;
height: 400px;
size:100%;
 
  }
  
  h1 {
  font-size:50px;
  }
  
  
  
  
  
.ACERCA{
background-color: gray;
margin-left:0px;
margin-right:0px;
font-size:50px;
border-bottom:2px solid black;

}


.TEXTO {
margin-left:100px;
margin-right:100px;
padding-left:20px;
padding-right:20px;
padding-bottom:20px;
margin-bottom:20px;
border-bottom:2px solid black;
border-left:2px solid black;
border-right:2px solid black;
  
  }
  
.CONTENIDO {
 margin: 0px;
 background: white;
 height: 960px;
 margin-left: 100px;
 margin-right: 100px;

  
  }
  
img {
 border: 0px none;
 width: 300px;
 height: 300px;
 border-radius:50%;
 margin-left:100px;
}
  
