
.TODO {
background-color: #FF0080;
height: 550px;
width: 1200px;


}

.PRINCIPAL {
background-color: #9C0063;
height: 500px;
width: 960px;
margin-left: 100px;
margin-right:100px;
  }
  
  
.UNO {
background-color: #D693BD;
height: 50px;
width: 200px;
margin-left: 380px;



 }
 
  
.DOS {
background-color: #FFAEAE;
height: 100px;
width: 960px;
margin-left: 0px;
border-top:4px solid white;
border-bottom:4px solid white;
border-left:4px solid white;
border-right:4px solid white;
border-radius:30px;


 }
 
 
  
.TRES {
background-color:	#D693BD;
height: 100px;
width: 200px;
margin-left: 380px;


 }
 
  
.CUATRO {
background-color: #E47297;
height: 50px;
width: 500px;
margin-left: 230px;

border-top:4px solid white;
border-bottom:4px solid white;
border-left:4px solid white;
border-right:4px solid white;
border-radius:20px;
 }
 
 
 .CINCO {
background-color:	#D693BD;
height: 50px;
width: 200px;
margin-left: 380px;


 }
 
 
 
  
 .SEIS {
background-color: #FFE9E8;
height: 50px;
width: 500px;
margin-left: 230px;
border-top:4px solid white;
border-bottom:4px solid white;
border-left:4px solid white;
border-right:4px solid white;
border-radius:20px;

 }
 
  
  
 .SIETE {
background-color:	#D693BD;
height: 50px;
width: 200px;
margin-left: 380px;

 }
 
  
 .OCHO {
background-color: #D693BD;
height: 50px;
width: 960
margin-left: 0px;

 }
 

